<p>contact works!</p>

<div class="box">
  <iframe
    class="ud"
    src="https://www.youtube.com/embed/-mJFZp84TIY"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <ul *ngFor="let cs of coursesArray">
    <li>{{ cs.name }}</li>
  </ul>
  <cdk-virtual-scroll-viewport itemSize="50" class="container">
    <div class="number" *cdkVirtualFor="let i of items">
      {{ i }}
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<!-- <ul class="scroll list" >
      <mat-list-item>cs.name</mat-list-item>  
      <mat-list-item>cs.name</mat-list-item>  
      <mat-list-item>cs.name</mat-list-item>  
      <mat-list-item>cs.name</mat-list-item>  
      
  </ul> -->

<!-- <mat-list class="inline-list scroll list">
    <mat-list-item  class="list-item " *ngFor="let cs of coursesArray"> 
     <div class="box shadow-sm custom">
        <h5>{{cs.name}}</h5>
        <br>
        <p>{{cs.desc}}</p>
     </div>      
    </mat-list-item>
  </mat-list> -->
<div class="box">

</div>

<!-- <mat-tab-group mat-align-tabs="center" >
    <mat-tab label="First">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group> -->
<!-- <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
  </ul> -->
