@media only screen and (max-width: 768px){
    #content-box {
        height: 70vh;
        visibility: hidden;
    }
}

#content-box {
    max-height: 400px;
    max-width: 600px;
    overflow-y: scroll;
}



